In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [99]:
df1 = pd.read_csv('loan_data.csv')

In [100]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [101]:
df1.isnull().sum()

credit.policy        0
purpose              0
int.rate             0
installment          0
log.annual.inc       0
dti                  0
fico                 0
days.with.cr.line    0
revol.bal            0
revol.util           0
inq.last.6mths       0
delinq.2yrs          0
pub.rec              0
not.fully.paid       0
dtype: int64

In [102]:
df1.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [103]:
df1['not.fully.paid'].value_counts()

0    8045
1    1533
Name: not.fully.paid, dtype: int64

In [104]:
loans=df1.copy(deep=True)

In [105]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
loans['purpose']=enc.fit_transform(loans['purpose'].values)

In [106]:
loans

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,2,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,2,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,2,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,1,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,0,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,0,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,2,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,4,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,2,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [107]:
loans[['int.rate','not.fully.paid']].corr()

                int.rate  not.fully.paid
int.rate        1.000000        0.159552
not.fully.paid  0.159552        1.000000

In [108]:
from sklearn.ensemble import RandomForestClassifier

In [109]:
from sklearn.model_selection import train_test_split

In [110]:
X = loans.drop('not.fully.paid',axis=1)
y= loans['not.fully.paid']

In [111]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [112]:
rfc= RandomForestClassifier()

In [113]:
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [114]:
predictions = rfc.predict(X_test)

In [115]:
from sklearn.metrics import classification_report,confusion_matrix

In [116]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.85      1.00      0.92      2431
           1       0.50      0.02      0.04       443

    accuracy                           0.85      2874
   macro avg       0.67      0.51      0.48      2874
weighted avg       0.79      0.85      0.78      2874

In [117]:
rf = RandomForestClassifier()

In [118]:
from sklearn.model_selection import GridSearchCV

In [126]:
params = {
    #'n_estimators':[100,200,500],
    'max_depth': [2, 3, 5, 10, 20],
    'criterion':['gini','entropy'],
    'min_samples_leaf': [5, 10, 20, 50, 100],
    'bootstrap':[True,False],
    'oob_score':[True,False],
    'min_samples_split':[2,5,8,15],
    'max_features':['auto','sqrt','log2']
    }

In [127]:
rf_grid = GridSearchCV(estimator=rf,param_grid=params,cv=4,n_jobs=-1,verbose=True,scoring='accuracy')

In [128]:
rf_grid.fit(X_train,y_train)

Fitting 4 folds for each of 2400 candidates, totalling 9600 fits

E:\conda\lib\site-packages\sklearn\model_selection\_search.py:922: UserWarning: One or more of the test scores are non-finite: [0.8374105 0.8374105 0.8374105 ... 0.8374105       nan 0.8374105]
  warnings.warn(

GridSearchCV(cv=4, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'bootstrap': [True, False],
                         'criterion': ['gini', 'entropy'],
                         'max_depth': [2, 3, 5, 10, 20],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'min_samples_leaf': [5, 10, 20, 50, 100],
                         'min_samples_split': [2, 5, 8, 15],
                         'oob_score': [True, False]},
             scoring='accuracy', verbose=True)

In [129]:
rf_grid.best_params_

{'bootstrap': True,
 'criterion': 'entropy',
 'max_depth': 10,
 'max_features': 'auto',
 'min_samples_leaf': 5,
 'min_samples_split': 5,
 'oob_score': True}

In [192]:
rf_tuned = RandomForestClassifier(n_estimators=500,
                                  class_weight=None,
                                 criterion='entropy',
                                 max_depth=10,
                                 max_features='auto',
                                 min_samples_leaf=5,
                                 min_samples_split=5,
                                 oob_score=True,
                                 bootstrap=True,
                                 random_state=101)

In [193]:
rf_tuned.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy', max_depth=10, max_features='log2',
                       min_samples_leaf=5, min_samples_split=5,
                       n_estimators=500, oob_score=True, random_state=101)

In [194]:
rf_tuned_pred = rf_tuned.predict(X_test)

In [195]:
print(classification_report(y_test,rf_tuned_pred))

              precision    recall  f1-score   support

           0       0.85      1.00      0.92      2431
           1       0.33      0.00      0.00       443

    accuracy                           0.85      2874
   macro avg       0.59      0.50      0.46      2874
weighted avg       0.77      0.85      0.78      2874