In [236]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
%matplotlib inline

In [3]:
df1 = pd.read_csv('loan_data.csv')

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [5]:
df1.isnull().sum()

credit.policy        0
purpose              0
int.rate             0
installment          0
log.annual.inc       0
dti                  0
fico                 0
days.with.cr.line    0
revol.bal            0
revol.util           0
inq.last.6mths       0
delinq.2yrs          0
pub.rec              0
not.fully.paid       0
dtype: int64

In [6]:
df1

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [7]:
df1['not.fully.paid'].value_counts()

0    8045
1    1533
Name: not.fully.paid, dtype: int64

In [8]:
loans=df1.copy(deep=True)

In [9]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
loans['purpose']=enc.fit_transform(loans['purpose'].values)

In [10]:
loans

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,2,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,2,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,2,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,1,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,0,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,0,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,2,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,4,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,2,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [11]:
loans[['int.rate','not.fully.paid']].corr()

                int.rate  not.fully.paid
int.rate        1.000000        0.159552
not.fully.paid  0.159552        1.000000

In [12]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X=loans.drop('not.fully.paid',axis=1)
y= loans['not.fully.paid']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [16]:
rf.fit(X_train,y_train)

RandomForestClassifier()

In [17]:
predictions = rf.predict(X_test)

In [18]:
from sklearn.metrics import classification_report

In [19]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.85      1.00      0.92      2431
           1       0.54      0.03      0.06       443

    accuracy                           0.85      2874
   macro avg       0.69      0.51      0.49      2874
weighted avg       0.80      0.85      0.78      2874

In [20]:
from skopt import BayesSearchCV
from sklearn.model_selection import RepeatedStratifiedKFold, cross_val_score

In [36]:

params=dict()
params['criterion']=['gini','entropy']
params['bootstrap']=[True]
params['oob_score']=[True,False]
params['max_features']=['auto','sqrt','log2']
params['n_estimators']=(100,1000,100)
params['min_samples_leaf']=(2,100)
params['min_samples_split']=(2,50)
params['class_weight']=[None,'balanced']
params['max_depth']=(2,50)

In [37]:
rfc=RandomForestClassifier(random_state=42)

In [38]:
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

In [39]:
search = BayesSearchCV(estimator=rfc,search_spaces=params, n_jobs=-1, cv=cv)

In [40]:
search.fit(X_train, y_train)

BayesSearchCV(cv=RepeatedStratifiedKFold(n_repeats=3, n_splits=10, random_state=1),
              estimator=RandomForestClassifier(random_state=42), n_jobs=-1,
              search_spaces={'bootstrap': [True],
                             'class_weight': [None, 'balanced'],
                             'criterion': ['gini', 'entropy'],
                             'max_depth': (2, 50),
                             'max_features': ['auto', 'sqrt', 'log2'],
                             'min_samples_leaf': (2, 100),
                             'min_samples_split': (2, 50),
                             'n_estimators': (100, 1000),
                             'oob_score': [True, False]})

In [41]:
print(search.best_params_)

OrderedDict([('bootstrap', True), ('class_weight', None), ('criterion', 'gini'), ('max_depth', 48), ('max_features', 'auto'), ('min_samples_leaf', 12), ('min_samples_split', 17), ('n_estimators', 958), ('oob_score', False)])

In [42]:
print(search.best_score_)

0.8376591089896579

In [58]:
rf_tuned = RandomForestClassifier(bootstrap=False,criterion='gini',max_depth=48,max_features='auto',min_samples_leaf=12,min_samples_split=17,n_estimators=958,oob_score=False)

In [59]:
rf_tuned.fit(X_train,y_train)

RandomForestClassifier(bootstrap=False, max_depth=48, min_samples_leaf=12,
                       min_samples_split=17, n_estimators=958)

In [60]:
rf_tuned_predict = rf_tuned.predict(X_test)

In [61]:
print(classification_report(y_test,rf_tuned_predict))

              precision    recall  f1-score   support

           0       0.85      1.00      0.92      2431
           1       0.60      0.01      0.01       443

    accuracy                           0.85      2874
   macro avg       0.72      0.50      0.46      2874
weighted avg       0.81      0.85      0.78      2874

# Handling Imbalance data

In [177]:
from imblearn.over_sampling import SMOTE

In [178]:
os= SMOTE()

In [179]:
X_os,y_os = os.fit_sample(X,y)

In [188]:
X_train_os, X_test_os, y_train_os, y_test_os = train_test_split(X_os, y_os, test_size=0.30, random_state=101)

In [189]:
y_train.shape

(6704,)

In [190]:
from collections import Counter
Counter(y_train_os)

Counter({0: 5665, 1: 5598})

In [191]:
Counter(y_train)

Counter({1: 1090, 0: 5614})

In [192]:
rf_os = RandomForestClassifier()

In [193]:
rf_os.fit(X_train_os,y_train_os)

RandomForestClassifier()

In [196]:
rf_os_predict = rf_os.predict(X_test)

In [197]:
print(classification_report(y_test,rf_os_predict))

              precision    recall  f1-score   support

           0       0.95      0.94      0.95      2431
           1       0.70      0.74      0.72       443

    accuracy                           0.91      2874
   macro avg       0.83      0.84      0.84      2874
weighted avg       0.91      0.91      0.91      2874

In [312]:
rf_os_tuned = RandomForestClassifier(bootstrap=True,random_state=42)

In [200]:
from skopt.space import Integer
from skopt.space import Real
from skopt.space import Categorical

In [223]:
opt = BayesSearchCV(
    estimator=rf_os_tuned,
     search_spaces={ 
        #criterion':Categorical(['gini','entropy']),
        'max_features':Categorical(['auto','sqrt']),
        'n_estimators':Integer(10,200),
        'min_samples_leaf':Integer(2,20),
        'min_samples_split':Integer(2,20),
        'class_weight':Categorical([None,'balanced']),
        'max_depth':Integer(2,20)
    },
    n_iter=100,
    random_state=42,
    scoring='f1',
    n_jobs=-1

)

In [224]:
opt.fit(X_train_os,y_train_os)

E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
E:\conda\envs\myenv\lib\site-packages\skopt\optimizer\optimizer.py:449: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "

BayesSearchCV(estimator=RandomForestClassifier(), n_iter=100, random_state=42,
              scoring='f1',
              search_spaces={'class_weight': Categorical(categories=(None, 'balanced'), prior=None),
                             'criterion': Categorical(categories=('gini', 'entropy'), prior=None),
                             'max_depth': Integer(low=2, high=50, prior='uniform', transform='identity'),
                             'max_features': Categorical(categories=('auto', 'sqrt', 'log2'), prior=None),
                             'min_samples_leaf': Integer(low=2, high=100, prior='uniform', transform='identity'),
                             'min_samples_split': Integer(low=2, high=50, prior='uniform', transform='identity'),
                             'n_estimators': Integer(low=100, high=1000, prior='uniform', transform='identity'),
                             'oob_score': Categorical(categories=(True, False), prior=None)})

In [259]:
opt.best_params_

OrderedDict([('class_weight', 'balanced'),
             ('criterion', 'entropy'),
             ('max_depth', 50),
             ('max_features', 'auto'),
             ('min_samples_leaf', 2),
             ('min_samples_split', 2),
             ('n_estimators', 1000),
             ('oob_score', True)])

In [294]:
opt.best_score_

0.8275906177442479

In [349]:
rf_bayes = RandomForestClassifier(class_weight='balanced',
             criterion='entropy',
             max_depth=50,
             max_features='auto',
             min_samples_leaf=2,
             min_samples_split=2,
             n_estimators=1000,
             oob_score=True,
            bootstrap=True,
            random_state=42)

In [350]:
rf_bayes.fit(X_train_os,y_train_os)

RandomForestClassifier(class_weight='balanced', criterion='entropy',
                       max_depth=50, min_samples_leaf=2, n_estimators=1000,
                       oob_score=True, random_state=42)

In [351]:
rf_bayes_predict = rf_bayes.predict(X_test)

In [352]:
print(classification_report(y_test,rf_bayes_predict))

              precision    recall  f1-score   support

           0       0.95      0.94      0.94      2431
           1       0.69      0.72      0.70       443

    accuracy                           0.91      2874
   macro avg       0.82      0.83      0.82      2874
weighted avg       0.91      0.91      0.91      2874

In [330]:
dfk = pd.DataFrame(opt.optimizer_results_[0].x_iters,columns=['class_weight','criterion','max_depth','max_features','min_samples_leaf','min_samples_split','n_estimator','oob_score'])

In [331]:
dfk

,class_weight,criterion,max_depth,max_features,min_samples_leaf,min_samples_split,n_estimator,oob_score
0,None,gini,47,log2,68,22,416,True
1,balanced,gini,17,sqrt,87,5,224,False
2,None,gini,7,log2,20,24,240,True
3,balanced,entropy,31,sqrt,53,7,780,True
4,balanced,entropy,27,log2,91,36,482,True
...,...,...,...,...,...,...,...,...
95,balanced,entropy,50,auto,2,2,1000,True
96,balanced,entropy,50,auto,2,2,1000,True
97,balanced,entropy,50,auto,2,2,1000,True
98,balanced,entropy,50,auto,2,2,1000,True
99,balanced,entropy,50,auto,2,2,1000,True

In [332]:
dfk['score'] = opt.optimizer_results_[0].func_vals

In [353]:
dfk.sort_values('score',ascending=True)

,class_weight,criterion,max_depth,max_features,min_samples_leaf,min_samples_split,n_estimator,oob_score,score
93,balanced,entropy,50,auto,2,2,1000,True,-0.827591
92,balanced,entropy,50,auto,2,2,1000,True,-0.827361
29,balanced,entropy,38,auto,2,2,1000,False,-0.827257
67,None,entropy,33,auto,2,2,1000,False,-0.827244
37,balanced,entropy,50,auto,2,2,1000,False,-0.826551
...,...,...,...,...,...,...,...,...,...
23,None,gini,49,auto,98,50,299,True,-0.681292
11,balanced,gini,4,log2,2,7,528,False,-0.619801
21,balanced,entropy,3,sqrt,99,49,770,True,-0.611696
24,balanced,entropy,2,log2,2,50,530,True,-0.602253
31,None,entropy,2,log2,47,2,1000,False,-0.592297