In [1]:
import pandas as pd

In [2]:
ads = pd.read_csv('advertising.csv')

In [3]:
ads.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [8]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
ads['City'] = enc.fit_transform(ads['City'].values)

In [10]:
ads[['City','Clicked on Ad']].corr()

                   City  Clicked on Ad
City           1.000000      -0.007554
Clicked on Ad -0.007554       1.000000

In [11]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
ads['Country'] = enc.fit_transform(ads['Country'].values)

In [13]:
ads[['Country','Clicked on Ad']].corr()

                Country  Clicked on Ad
Country        1.000000       0.011415
Clicked on Ad  0.011415       1.000000

In [15]:
ads['Ad Topic Line'].nunique()

1000

In [18]:
ads.shape()

(1000, 10)

In [23]:
ads1 = ads.drop('Ad Topic Line',axis=1)

In [21]:
ads['Timestamp'].nunique()

1000

In [25]:
ads1 = ads1.drop('Timestamp',axis=1)

In [26]:
ads1

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,City,Male,Country,Clicked on Ad
0,68.95,35,61833.90,256.09,961,0,215,0
1,80.23,31,68441.85,193.77,903,1,147,0
2,69.47,26,59785.94,236.50,111,0,184,0
3,74.15,29,54806.18,245.89,939,1,103,0
4,68.37,35,73889.99,225.58,805,0,96,0
...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,126,1,116,1
996,51.30,45,67782.17,134.42,488,1,26,1
997,51.63,51,42415.72,120.37,798,1,140,1
998,55.55,19,41920.79,187.95,935,0,85,0
999,45.01,26,29875.80,178.35,744,0,28,1

In [434]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import numpy as np

In [435]:

lgmodel = LogisticRegression()

In [436]:
X = ads1.drop('Clicked on Ad',axis=1)
Y= ads1['Clicked on Ad']

In [437]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [438]:
#min_max_scaler =MinMaxScaler()
#X_train_minmax = min_max_scaler.fit_transform(X_train)
#X_test_minmax = min_max_scaler.transform(X_test)

In [439]:

lgmodel.fit(X_train,Y_train)

LogisticRegression()

In [440]:
lg_predictions = lgmodel.predict(X_test)

In [441]:
print(classification_report(Y_test,lg_predictions))

              precision    recall  f1-score   support

           0       0.86      0.96      0.90       162
           1       0.95      0.85      0.90       168

    accuracy                           0.90       330
   macro avg       0.90      0.90      0.90       330
weighted avg       0.91      0.90      0.90       330

In [442]:
colm= ['max_iter','Tolerance','C_param','accuracy']
lg3 = pd.DataFrame(columns=colm)
lg3

Empty DataFrame
Columns: [max_iter, Tolerance, C_param, accuracy]
Index: []

In [447]:
lg_data=[]
max_iter=[100,200,500,1000]
tol = [.0001,.0002,.0005,.00001]
C=[0.001,0.01,0.1,1,100]

for mx in max_iter:
    for t in tol:
        for c in C:
            lg1model = LogisticRegression(dual=False, tol=t, C=c, fit_intercept=True, intercept_scaling=1, class_weight=None, random_state=42, solver='liblinear', max_iter=mx, multi_class='ovr', verbose=1, warm_start=True, n_jobs=None, penalty = 'l1')
            lg1model.fit(X_train,Y_train)
            lg1_predictions = lg1model.predict(X_test)
            t_predictions = lg1model.predict(X_train)

            from sklearn.metrics import classification_report
            print(mx,t,c)
            print(classification_report(Y_test,lg1_predictions,output_dict=True)['accuracy'])
            
                            
                            
            data=[mx,t,c,classification_report(Y_test,lg1_predictions,output_dict=True)['accuracy']]
            zipped = zip(colm,data)
            a_dict = dict(zipped)
            print(a_dict)
            lg_data.append(a_dict)

[LibLinear]100 0.0001 0.001
0.8575757575757575
{'max_iter': 100, 'Tolerance': 0.0001, 'C_param': 0.001, 'accuracy': 0.8575757575757575}
[LibLinear]100 0.0001 0.01
0.896969696969697
{'max_iter': 100, 'Tolerance': 0.0001, 'C_param': 0.01, 'accuracy': 0.896969696969697}
[LibLinear]100 0.0001 0.1
0.9181818181818182
{'max_iter': 100, 'Tolerance': 0.0001, 'C_param': 0.1, 'accuracy': 0.9181818181818182}
[LibLinear]100 0.0001 1
0.9636363636363636
{'max_iter': 100, 'Tolerance': 0.0001, 'C_param': 1, 'accuracy': 0.9636363636363636}
[LibLinear]100 0.0001 100
0.9696969696969697
{'max_iter': 100, 'Tolerance': 0.0001, 'C_param': 100, 'accuracy': 0.9696969696969697}
[LibLinear]100 0.0002 0.001
0.8575757575757575
{'max_iter': 100, 'Tolerance': 0.0002, 'C_param': 0.001, 'accuracy': 0.8575757575757575}
[LibLinear]100 0.0002 0.01
0.896969696969697
{'max_iter': 100, 'Tolerance': 0.0002, 'C_param': 0.01, 'accuracy': 0.896969696969697}
[LibLinear]100 0.0002 0.1
0.9181818181818182
{'max_iter': 100, 'Tolerance': 0.0002, 'C_param': 0.1, 'accuracy': 0.9181818181818182}
[LibLinear]100 0.0002 1
0.9636363636363636
{'max_iter': 100, 'Tolerance': 0.0002, 'C_param': 1, 'accuracy': 0.9636363636363636}
[LibLinear]100 0.0002 100
0.9696969696969697
{'max_iter': 100, 'Tolerance': 0.0002, 'C_param': 100, 'accuracy': 0.9696969696969697}
[LibLinear]100 0.0005 0.001
0.8575757575757575
{'max_iter': 100, 'Tolerance': 0.0005, 'C_param': 0.001, 'accuracy': 0.8575757575757575}
[LibLinear]100 0.0005 0.01
0.896969696969697
{'max_iter': 100, 'Tolerance': 0.0005, 'C_param': 0.01, 'accuracy': 0.896969696969697}
[LibLinear]100 0.0005 0.1
0.9181818181818182
{'max_iter': 100, 'Tolerance': 0.0005, 'C_param': 0.1, 'accuracy': 0.9181818181818182}
[LibLinear]100 0.0005 1
0.9636363636363636
{'max_iter': 100, 'Tolerance': 0.0005, 'C_param': 1, 'accuracy': 0.9636363636363636}
[LibLinear]100 0.0005 100
0.9575757575757575
{'max_iter': 100, 'Tolerance': 0.0005, 'C_param': 100, 'accuracy': 0.9575757575757575}
[LibLinear]100 1e-05 0.001
0.8575757575757575
{'max_iter': 100, 'Tolerance': 1e-05, 'C_param': 0.001, 'accuracy': 0.8575757575757575}
[LibLinear]100 1e-05 0.01
0.896969696969697
{'max_iter': 100, 'Tolerance': 1e-05, 'C_param': 0.01, 'accuracy': 0.896969696969697}
[LibLinear]100 1e-05 0.1
0.9181818181818182
{'max_iter': 100, 'Tolerance': 1e-05, 'C_param': 0.1, 'accuracy': 0.9181818181818182}
[LibLinear]100 1e-05 1
0.9636363636363636
{'max_iter': 100, 'Tolerance': 1e-05, 'C_param': 1, 'accuracy': 0.9636363636363636}
[LibLinear]100 1e-05 100
0.9696969696969697
{'max_iter': 100, 'Tolerance': 1e-05, 'C_param': 100, 'accuracy': 0.9696969696969697}
[LibLinear]200 0.0001 0.001
0.8575757575757575
{'max_iter': 200, 'Tolerance': 0.0001, 'C_param': 0.001, 'accuracy': 0.8575757575757575}
[LibLinear]200 0.0001 0.01
0.896969696969697
{'max_iter': 200, 'Tolerance': 0.0001, 'C_param': 0.01, 'accuracy': 0.896969696969697}
[LibLinear]200 0.0001 0.1
0.9181818181818182
{'max_iter': 200, 'Tolerance': 0.0001, 'C_param': 0.1, 'accuracy': 0.9181818181818182}
[LibLinear]200 0.0001 1
0.9636363636363636
{'max_iter': 200, 'Tolerance': 0.0001, 'C_param': 1, 'accuracy': 0.9636363636363636}
[LibLinear]200 0.0001 100
0.9696969696969697
{'max_iter': 200, 'Tolerance': 0.0001, 'C_param': 100, 'accuracy': 0.9696969696969697}
[LibLinear]200 0.0002 0.001
0.8575757575757575
{'max_iter': 200, 'Tolerance': 0.0002, 'C_param': 0.001, 'accuracy': 0.8575757575757575}
[LibLinear]200 0.0002 0.01
0.896969696969697
{'max_iter': 200, 'Tolerance': 0.0002, 'C_param': 0.01, 'accuracy': 0.896969696969697}
[LibLinear]200 0.0002 0.1
0.9181818181818182
{'max_iter': 200, 'Tolerance': 0.0002, 'C_param': 0.1, 'accuracy': 0.9181818181818182}
[LibLinear]200 0.0002 1
0.9636363636363636
{'max_iter': 200, 'Tolerance': 0.0002, 'C_param': 1, 'accuracy': 0.9636363636363636}
[LibLinear]200 0.0002 100
0.9696969696969697
{'max_iter': 200, 'Tolerance': 0.0002, 'C_param': 100, 'accuracy': 0.9696969696969697}
[LibLinear]200 0.0005 0.001
0.8575757575757575
{'max_iter': 200, 'Tolerance': 0.0005, 'C_param': 0.001, 'accuracy': 0.8575757575757575}
[LibLinear]200 0.0005 0.01
0.896969696969697
{'max_iter': 200, 'Tolerance': 0.0005, 'C_param': 0.01, 'accuracy': 0.896969696969697}
[LibLinear]200 0.0005 0.1
0.9181818181818182
{'max_iter': 200, 'Tolerance': 0.0005, 'C_param': 0.1, 'accuracy': 0.9181818181818182}
[LibLinear]200 0.0005 1
0.9636363636363636
{'max_iter': 200, 'Tolerance': 0.0005, 'C_param': 1, 'accuracy': 0.9636363636363636}
[LibLinear]200 0.0005 100
0.9575757575757575
{'max_iter': 200, 'Tolerance': 0.0005, 'C_param': 100, 'accuracy': 0.9575757575757575}
[LibLinear]200 1e-05 0.001
0.8575757575757575
{'max_iter': 200, 'Tolerance': 1e-05, 'C_param': 0.001, 'accuracy': 0.8575757575757575}
[LibLinear]200 1e-05 0.01
0.896969696969697
{'max_iter': 200, 'Tolerance': 1e-05, 'C_param': 0.01, 'accuracy': 0.896969696969697}
[LibLinear]200 1e-05 0.1
0.9181818181818182
{'max_iter': 200, 'Tolerance': 1e-05, 'C_param': 0.1, 'accuracy': 0.9181818181818182}
[LibLinear]200 1e-05 1
0.9636363636363636
{'max_iter': 200, 'Tolerance': 1e-05, 'C_param': 1, 'accuracy': 0.9636363636363636}
[LibLinear]200 1e-05 100
0.9696969696969697
{'max_iter': 200, 'Tolerance': 1e-05, 'C_param': 100, 'accuracy': 0.9696969696969697}
[LibLinear]500 0.0001 0.001
0.8575757575757575
{'max_iter': 500, 'Tolerance': 0.0001, 'C_param': 0.001, 'accuracy': 0.8575757575757575}
[LibLinear]500 0.0001 0.01
0.896969696969697
{'max_iter': 500, 'Tolerance': 0.0001, 'C_param': 0.01, 'accuracy': 0.896969696969697}
[LibLinear]500 0.0001 0.1
0.9181818181818182
{'max_iter': 500, 'Tolerance': 0.0001, 'C_param': 0.1, 'accuracy': 0.9181818181818182}
[LibLinear]500 0.0001 1
0.9636363636363636
{'max_iter': 500, 'Tolerance': 0.0001, 'C_param': 1, 'accuracy': 0.9636363636363636}
[LibLinear]500 0.0001 100
0.9696969696969697
{'max_iter': 500, 'Tolerance': 0.0001, 'C_param': 100, 'accuracy': 0.9696969696969697}
[LibLinear]500 0.0002 0.001
0.8575757575757575
{'max_iter': 500, 'Tolerance': 0.0002, 'C_param': 0.001, 'accuracy': 0.8575757575757575}
[LibLinear]500 0.0002 0.01
0.896969696969697
{'max_iter': 500, 'Tolerance': 0.0002, 'C_param': 0.01, 'accuracy': 0.896969696969697}
[LibLinear]500 0.0002 0.1
0.9181818181818182
{'max_iter': 500, 'Tolerance': 0.0002, 'C_param': 0.1, 'accuracy': 0.9181818181818182}
[LibLinear]500 0.0002 1
0.9636363636363636
{'max_iter': 500, 'Tolerance': 0.0002, 'C_param': 1, 'accuracy': 0.9636363636363636}
[LibLinear]500 0.0002 100
0.9696969696969697
{'max_iter': 500, 'Tolerance': 0.0002, 'C_param': 100, 'accuracy': 0.9696969696969697}
[LibLinear]500 0.0005 0.001
0.8575757575757575
{'max_iter': 500, 'Tolerance': 0.0005, 'C_param': 0.001, 'accuracy': 0.8575757575757575}
[LibLinear]500 0.0005 0.01
0.896969696969697
{'max_iter': 500, 'Tolerance': 0.0005, 'C_param': 0.01, 'accuracy': 0.896969696969697}
[LibLinear]500 0.0005 0.1
0.9181818181818182
{'max_iter': 500, 'Tolerance': 0.0005, 'C_param': 0.1, 'accuracy': 0.9181818181818182}
[LibLinear]500 0.0005 1
0.9636363636363636
{'max_iter': 500, 'Tolerance': 0.0005, 'C_param': 1, 'accuracy': 0.9636363636363636}
[LibLinear]500 0.0005 100
0.9575757575757575
{'max_iter': 500, 'Tolerance': 0.0005, 'C_param': 100, 'accuracy': 0.9575757575757575}
[LibLinear]500 1e-05 0.001
0.8575757575757575
{'max_iter': 500, 'Tolerance': 1e-05, 'C_param': 0.001, 'accuracy': 0.8575757575757575}
[LibLinear]500 1e-05 0.01
0.896969696969697
{'max_iter': 500, 'Tolerance': 1e-05, 'C_param': 0.01, 'accuracy': 0.896969696969697}
[LibLinear]500 1e-05 0.1
0.9181818181818182
{'max_iter': 500, 'Tolerance': 1e-05, 'C_param': 0.1, 'accuracy': 0.9181818181818182}
[LibLinear]500 1e-05 1
0.9636363636363636
{'max_iter': 500, 'Tolerance': 1e-05, 'C_param': 1, 'accuracy': 0.9636363636363636}
[LibLinear]500 1e-05 100
0.9696969696969697
{'max_iter': 500, 'Tolerance': 1e-05, 'C_param': 100, 'accuracy': 0.9696969696969697}
[LibLinear]1000 0.0001 0.001
0.8575757575757575
{'max_iter': 1000, 'Tolerance': 0.0001, 'C_param': 0.001, 'accuracy': 0.8575757575757575}
[LibLinear]1000 0.0001 0.01
0.896969696969697
{'max_iter': 1000, 'Tolerance': 0.0001, 'C_param': 0.01, 'accuracy': 0.896969696969697}
[LibLinear]1000 0.0001 0.1
0.9181818181818182
{'max_iter': 1000, 'Tolerance': 0.0001, 'C_param': 0.1, 'accuracy': 0.9181818181818182}
[LibLinear]1000 0.0001 1

0.9636363636363636
{'max_iter': 1000, 'Tolerance': 0.0001, 'C_param': 1, 'accuracy': 0.9636363636363636}
[LibLinear]1000 0.0001 100
0.9696969696969697
{'max_iter': 1000, 'Tolerance': 0.0001, 'C_param': 100, 'accuracy': 0.9696969696969697}
[LibLinear]1000 0.0002 0.001
0.8575757575757575
{'max_iter': 1000, 'Tolerance': 0.0002, 'C_param': 0.001, 'accuracy': 0.8575757575757575}
[LibLinear]1000 0.0002 0.01
0.896969696969697
{'max_iter': 1000, 'Tolerance': 0.0002, 'C_param': 0.01, 'accuracy': 0.896969696969697}
[LibLinear]1000 0.0002 0.1
0.9181818181818182
{'max_iter': 1000, 'Tolerance': 0.0002, 'C_param': 0.1, 'accuracy': 0.9181818181818182}
[LibLinear]1000 0.0002 1
0.9636363636363636
{'max_iter': 1000, 'Tolerance': 0.0002, 'C_param': 1, 'accuracy': 0.9636363636363636}
[LibLinear]1000 0.0002 100
0.9696969696969697
{'max_iter': 1000, 'Tolerance': 0.0002, 'C_param': 100, 'accuracy': 0.9696969696969697}
[LibLinear]1000 0.0005 0.001
0.8575757575757575
{'max_iter': 1000, 'Tolerance': 0.0005, 'C_param': 0.001, 'accuracy': 0.8575757575757575}
[LibLinear]1000 0.0005 0.01
0.896969696969697
{'max_iter': 1000, 'Tolerance': 0.0005, 'C_param': 0.01, 'accuracy': 0.896969696969697}
[LibLinear]1000 0.0005 0.1
0.9181818181818182
{'max_iter': 1000, 'Tolerance': 0.0005, 'C_param': 0.1, 'accuracy': 0.9181818181818182}
[LibLinear]1000 0.0005 1
0.9636363636363636
{'max_iter': 1000, 'Tolerance': 0.0005, 'C_param': 1, 'accuracy': 0.9636363636363636}
[LibLinear]1000 0.0005 100
0.9575757575757575
{'max_iter': 1000, 'Tolerance': 0.0005, 'C_param': 100, 'accuracy': 0.9575757575757575}
[LibLinear]1000 1e-05 0.001
0.8575757575757575
{'max_iter': 1000, 'Tolerance': 1e-05, 'C_param': 0.001, 'accuracy': 0.8575757575757575}
[LibLinear]1000 1e-05 0.01
0.896969696969697
{'max_iter': 1000, 'Tolerance': 1e-05, 'C_param': 0.01, 'accuracy': 0.896969696969697}
[LibLinear]1000 1e-05 0.1
0.9181818181818182
{'max_iter': 1000, 'Tolerance': 1e-05, 'C_param': 0.1, 'accuracy': 0.9181818181818182}
[LibLinear]1000 1e-05 1
0.9636363636363636
{'max_iter': 1000, 'Tolerance': 1e-05, 'C_param': 1, 'accuracy': 0.9636363636363636}
[LibLinear]1000 1e-05 100
0.9696969696969697
{'max_iter': 1000, 'Tolerance': 1e-05, 'C_param': 100, 'accuracy': 0.9696969696969697}

In [448]:
 lg3 = lg3.append(lg_data,True)

In [449]:
lg3.sort_values(['accuracy'],ascending=False)

    max_iter  Tolerance  C_param  accuracy
239     1000    0.00001    100.0  0.969697
24       200    0.00010    100.0  0.969697
219      500    0.00001    100.0  0.969697
39       200    0.00001    100.0  0.969697
44       500    0.00010    100.0  0.969697
..       ...        ...      ...       ...
113      200    5.00010      1.0  0.490909
114      200    5.00010    100.0  0.490909
73      1000    5.00010      1.0  0.490909
34       200    5.00010    100.0  0.490909
74      1000    5.00010    100.0  0.490909

[240 rows x 4 columns]

In [351]:
parameters = [{ 'dual':[True,False],
               'tol' : [.0001,2.0001,5.0001,5.00001,.00001],
                'solver' : ['liblinear','lbfgs','newton-cg','sag','saga'],
                'max_iter':[200,500,750,1000,2500],
               'C': [0.001,0.01,0.1,1,10],           
               'multi_class' : ['auto','ovr','multinomial'],
               'class_weight' :[None,'balanced'],
               'penalty' : ['l1','l2','elasticnet','none']}]
#n_jobs = [-2,-1,1]
#class_weight = [None,'balanced']
#penalty = ['l1','l2','elasticnet']]

clf = GridSearchCV(logmodel,param_grid=parameters,cv=5,verbose=True,n_jobs=-1)

In [374]:
best_clf=clf.fit(X_train,Y_train)

Fitting 5 folds for each of 30000 candidates, totalling 150000 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done 6640 tasks      | elapsed:    4.3s
[Parallel(n_jobs=-1)]: Done 10666 tasks      | elapsed:   26.7s
[Parallel(n_jobs=-1)]: Done 12628 tasks      | elapsed:   45.0s
[Parallel(n_jobs=-1)]: Done 14920 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 24612 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 28712 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 40018 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Done 44457 tasks      | elapsed:  4.0min
[Parallel(n_jobs=-1)]: Done 55956 tasks      | elapsed:  4.9min
[Parallel(n_jobs=-1)]: Done 67224 tasks      | elapsed:  5.8min
[Parallel(n_jobs=-1)]: Done 74368 tasks      | elapsed:  7.0min
[Parallel(n_jobs=-1)]: Done 87816 tasks      | elapsed:  8.2min
[Parallel(n_jobs=-1)]: Done 101788 tasks      | elapsed:  9.4min
[Parallel(n_jobs=-1)]: Done 117169 tasks      | elapsed: 11.0min
[Parallel(n_jobs=-1)]: Done 131024 tasks      | elapsed: 12.2min
[Parallel(n_jobs=-1)]: Done 146762 tasks      | elapsed: 13.8min
[Parallel(n_jobs=-1)]: Done 150000 out of 150000 | elapsed: 14.6min finished
E:\conda\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
E:\conda\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)

In [375]:
best_clf.best_estimator_

LogisticRegression(C=0.001, class_weight='balanced', max_iter=200,
                   multi_class='multinomial', solver='newton-cg', tol=2.0001)

In [376]:
lg = LogisticRegression(C=0.001, class_weight='balanced', max_iter=200,
                   multi_class='multinomial', solver='newton-cg', tol=2.0001)

In [377]:
lg.fit(X_train_minmax,Y_train)

LogisticRegression(C=0.001, class_weight='balanced', max_iter=200,
                   multi_class='multinomial', solver='newton-cg', tol=2.0001)

In [378]:
lg_predictions = lg.predict(X_test_minmax)

In [379]:
print(classification_report(Y_test,lg_predictions))

              precision    recall  f1-score   support

           0       0.91      0.99      0.95       162
           1       0.99      0.91      0.95       168

    accuracy                           0.95       330
   macro avg       0.95      0.95      0.95       330
weighted avg       0.95      0.95      0.95       330

In [313]:
best_clf.score(X_test_minmax,Y_test)

0.9636363636363636