In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df1 = pd.read_csv('loan_data.csv')

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [4]:
df1.isnull().sum()

credit.policy        0
purpose              0
int.rate             0
installment          0
log.annual.inc       0
dti                  0
fico                 0
days.with.cr.line    0
revol.bal            0
revol.util           0
inq.last.6mths       0
delinq.2yrs          0
pub.rec              0
not.fully.paid       0
dtype: int64

In [5]:
df1.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [6]:
df1['not.fully.paid'].value_counts()

0    8045
1    1533
Name: not.fully.paid, dtype: int64

In [7]:
loans=df1.copy(deep=True)

In [8]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
loans['purpose']=enc.fit_transform(loans['purpose'].values)

In [9]:
loans

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,2,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,2,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,2,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,1,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,0,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,0,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,2,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,4,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,2,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [10]:
loans[['int.rate','not.fully.paid']].corr()

                int.rate  not.fully.paid
int.rate        1.000000        0.159552
not.fully.paid  0.159552        1.000000

In [11]:
from sklearn.ensemble import RandomForestClassifier

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X = loans.drop('not.fully.paid',axis=1)
y= loans['not.fully.paid']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [15]:
rfc= RandomForestClassifier()

In [16]:
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [17]:
predictions = rfc.predict(X_test)

In [18]:
from sklearn.metrics import classification_report,confusion_matrix

In [19]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.85      1.00      0.92      2431
           1       0.53      0.02      0.04       443

    accuracy                           0.85      2874
   macro avg       0.69      0.51      0.48      2874
weighted avg       0.80      0.85      0.78      2874

In [20]:
from sklearn.ensemble import AdaBoostClassifier

In [221]:
ada = AdaBoostClassifier(n_estimators=100)

In [222]:
ada.fit(X_train,y_train)

AdaBoostClassifier(n_estimators=100)

In [223]:
ada_predict = ada.predict(X_test)

In [224]:
print(classification_report(y_test,ada_predict))

              precision    recall  f1-score   support

           0       0.85      0.98      0.91      2431
           1       0.37      0.05      0.09       443

    accuracy                           0.84      2874
   macro avg       0.61      0.52      0.50      2874
weighted avg       0.78      0.84      0.79      2874

In [168]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state = 42)
X_new, y_new = sm.fit_resample(X_train, y_train)

In [239]:
ada_sm = AdaBoostClassifier(n_estimators=500,learning_rate=1.5)

In [240]:
ada_sm.fit(X_new,y_new)

AdaBoostClassifier(learning_rate=1.5, n_estimators=500)

In [241]:
sm_ada_predict = ada_sm.predict(X_test)

In [242]:
print(classification_report(y_test,sm_ada_predict))

              precision    recall  f1-score   support

           0       0.86      0.83      0.85      2431
           1       0.23      0.28      0.25       443

    accuracy                           0.74      2874
   macro avg       0.55      0.55      0.55      2874
weighted avg       0.77      0.74      0.75      2874

In [225]:
rf = RandomForestClassifier(n_estimators=100,
                                 criterion='gini',
                                 max_depth=3,
                                 max_features='auto',
                                 min_samples_leaf=5,
                                 min_samples_split=5,
                                 oob_score=True,
                                 bootstrap=True,
                                 random_state=101)

In [226]:
rf.fit(X_new,y_new)

RandomForestClassifier(max_depth=3, min_samples_leaf=5, min_samples_split=5,
                       oob_score=True, random_state=101)

In [227]:
rf_predictions = rf.predict(X_test)

In [228]:
print(classification_report(y_test,rf_predictions))

              precision    recall  f1-score   support

           0       0.87      0.79      0.83      2431
           1       0.25      0.38      0.30       443

    accuracy                           0.72      2874
   macro avg       0.56      0.58      0.56      2874
weighted avg       0.78      0.72      0.75      2874

In [124]:
from sklearn.ensemble import GradientBoostingClassifier

In [233]:
clf = GradientBoostingClassifier(n_estimators=700, learning_rate=2.0, max_depth=1, random_state=0).fit(X_new, y_new)

In [234]:
clf.score(X_test, y_test)

0.8458594293667363

In [134]:
clf_1 = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0).fit(X_train, y_train)

In [137]:
clf_1.score(X_test, y_test)

0.8448155880306193

In [126]:
X_train.shape

(6704, 13)

In [127]:
X_train_sm.shape

(11263, 13)

In [145]:
y_train.value_counts()

0    5614
1    1090
Name: not.fully.paid, dtype: int64

In [146]:
y_train_sm.value_counts()

0    5665
1    5598
Name: not.fully.paid, dtype: int64