In [238]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [239]:
loans = pd.read_csv('loan_data.csv')

In [240]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [241]:
loans.isnull().sum()

credit.policy        0
purpose              0
int.rate             0
installment          0
log.annual.inc       0
dti                  0
fico                 0
days.with.cr.line    0
revol.bal            0
revol.util           0
inq.last.6mths       0
delinq.2yrs          0
pub.rec              0
not.fully.paid       0
dtype: int64

In [242]:
loans.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [243]:
loans['not.fully.paid'].value_counts()

0    8045
1    1533
Name: not.fully.paid, dtype: int64

In [244]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
loans['purpose']=enc.fit_transform(loans['purpose'].values)

In [245]:
loans

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,2,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,2,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,2,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,1,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,0,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,0,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,2,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,4,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,2,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [246]:
loans[['purpose','not.fully.paid']].corr()

                 purpose  not.fully.paid
purpose         1.000000        0.047907
not.fully.paid  0.047907        1.000000

In [247]:
loans[['fico','not.fully.paid']].corr()

                    fico  not.fully.paid
fico            1.000000       -0.149666
not.fully.paid -0.149666        1.000000

In [248]:
loans[['int.rate','not.fully.paid']].corr()

                int.rate  not.fully.paid
int.rate        1.000000        0.159552
not.fully.paid  0.159552        1.000000

In [249]:
loans[['credit.policy','not.fully.paid']].corr()

                credit.policy  not.fully.paid
credit.policy        1.000000       -0.158119
not.fully.paid      -0.158119        1.000000

In [250]:
from sklearn.tree import DecisionTreeClassifier

In [251]:
from sklearn.model_selection import train_test_split

In [267]:
X = loans.drop('not.fully.paid',axis=1)
y= loans['not.fully.paid']

In [268]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [269]:
dtree = DecisionTreeClassifier()

In [270]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier()

In [271]:
predictions = dtree.predict(X_test)

In [272]:
from sklearn.metrics import classification_report,confusion_matrix

In [273]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.86      0.81      0.83      2431
           1       0.19      0.26      0.22       443

    accuracy                           0.72      2874
   macro avg       0.52      0.53      0.52      2874
weighted avg       0.75      0.72      0.74      2874

In [274]:
dtree.feature_importances_

array([0.02712483, 0.04408369, 0.10818821, 0.13075934, 0.11290589,
       0.12359947, 0.07242723, 0.10290193, 0.10840617, 0.10946429,
       0.0348154 , 0.01638591, 0.00893764])

In [275]:
X_train.columns

Index(['credit.policy', 'purpose', 'int.rate', 'installment', 'log.annual.inc',
       'dti', 'fico', 'days.with.cr.line', 'revol.bal', 'revol.util',
       'inq.last.6mths', 'delinq.2yrs', 'pub.rec'],
      dtype='object')

In [276]:
k=pd.DataFrame(zip(X_train.columns,dtree.feature_importances_))
k.columns=['feature','importance']
k=k.sort_values(['importance'],ascending=False)
k

              feature  importance
3         installment    0.130759
5                 dti    0.123599
4      log.annual.inc    0.112906
9          revol.util    0.109464
8           revol.bal    0.108406
2            int.rate    0.108188
7   days.with.cr.line    0.102902
6                fico    0.072427
1             purpose    0.044084
10     inq.last.6mths    0.034815
0       credit.policy    0.027125
11        delinq.2yrs    0.016386
12            pub.rec    0.008938

In [277]:
dt=DecisionTreeClassifier()

In [278]:
params = {
    'max_depth': [2, 3, 5, 10, 20],
    'min_samples_leaf': [5, 10, 20, 50, 100],
    'criterion': ["gini", "entropy"],
    'splitter':['best','random'],
    'min_samples_split':[2,5,8,15],
    'max_features':['auto','sqrt','log2'],
    'class_weight':['balanced',None]}

In [279]:
from sklearn.model_selection import GridSearchCV

In [280]:
dt_grid = GridSearchCV(estimator=dt,param_grid=params,cv=4,n_jobs=-1,verbose=True,scoring='accuracy')

In [281]:
dt_grid.fit(X_train,y_train)

Fitting 4 folds for each of 2400 candidates, totalling 9600 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done 2160 tasks      | elapsed:    5.6s
[Parallel(n_jobs=-1)]: Done 6160 tasks      | elapsed:   16.3s
[Parallel(n_jobs=-1)]: Done 9600 out of 9600 | elapsed:   24.6s finished

ValueError: too many values to unpack (expected 4)

In [ ]:
dt_grid.best_estimator_

In [ ]:
dt_grid.best_params_

In [ ]:
tuned_dt = DecisionTreeClassifier(class_weight= None
                                  ,criterion= 'gini',max_depth= 5,
max_features= 'auto',
 min_samples_leaf= 5,
 min_samples_split= 2,
 splitter= 'best')

In [ ]:
tuned_dt.fit(X_train,y_train)

In [ ]:
tuned_pred = tuned_dt.predict(X_test)

In [ ]:
print(classification_report(y_test,tuned_pred))

In [ ]:
score_df = pd.DataFrame(dt_grid.cv_results_)

In [ ]:
score_df.sort_values('mean_test_score',ascending=False)

In [ ]:
score_df['params'].iloc[0]

# Random Forest

In [233]:
from sklearn.ensemble import RandomForestClassifier

In [234]:
rfc  =RandomForestClassifier()

In [235]:
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [236]:
rfc_predict = rfc.predict(X_test)

In [237]:
print(classification_report(y_test,rfc_predict))

              precision    recall  f1-score   support

           0       0.85      1.00      0.92      2431
           1       0.52      0.02      0.05       443

    accuracy                           0.85      2874
   macro avg       0.69      0.51      0.48      2874
weighted avg       0.80      0.85      0.78      2874