In [61]:
import pandas as pd
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [62]:
df = pd.read_csv('yelp.csv')

In [64]:
df

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
...,...,...,...,...,...,...,...,...,...,...
9995,VY_tvNUCCXGXQeSvJl757Q,2012-07-28,Ubyfp2RSDYW0g7Mbr8N3iA,3,First visit...Had lunch here today - used my G...,review,_eqQoPtQ3e3UxLE4faT6ow,1,2,0
9996,EKzMHI1tip8rC1-ZAy64yg,2012-01-18,2XyIOQKbVFb6uXQdJ0RzlQ,4,Should be called house of deliciousness!\n\nI ...,review,ROru4uk5SaYc3rg8IU7SQw,0,0,0
9997,53YGfwmbW73JhFiemNeyzQ,2010-11-16,jyznYkIbpqVmlsZxSDSypA,4,I recently visited Olive and Ivy for business ...,review,gGbN1aKQHMgfQZkqlsuwzg,0,0,0
9998,9SKdOoDHcFoxK5ZtsgHJoA,2012-12-02,5UKq9WQE1qQbJ0DJbc-B6Q,2,My nephew just moved to Scottsdale recently so...,review,0lyVoNazXa20WzUyZPLaQQ,0,0,0
9999,pF7uRzygyZsltbmVpjIyvw,2010-10-16,vWSmOhg2ID1MNZHaWapGbA,5,4-5 locations.. all 4.5 star average.. I think...,review,KSBFytcdjPKZgXKQnYQdkA,0,0,0

In [65]:
df.shape

(10000, 10)

In [66]:
df.groupby('stars').describe()

         cool                                                useful            \
        count      mean       std  min  25%  50%  75%   max   count      mean
stars
1       749.0  0.576769  1.474759  0.0  0.0  0.0  1.0  17.0   749.0  1.604806
2       927.0  0.719525  1.491182  0.0  0.0  0.0  1.0  14.0   927.0  1.563107
3      1461.0  0.788501  1.602576  0.0  0.0  0.0  1.0  18.0  1461.0  1.306639
4      3526.0  0.954623  2.034367  0.0  0.0  0.0  1.0  38.0  3526.0  1.395916
5      3337.0  0.944261  2.484583  0.0  0.0  0.0  1.0  77.0  3337.0  1.381780

       ...              funny
       ...  75%   max   count      mean       std  min  25%  50%  75%   max
stars  ...
1      ...  2.0  20.0   749.0  1.056075  2.480309  0.0  0.0  0.0  1.0  30.0
2      ...  2.0  17.0   927.0  0.875944  1.837553  0.0  0.0  0.0  1.0  20.0
3      ...  2.0  19.0  1461.0  0.694730  1.643553  0.0  0.0  0.0  1.0  24.0
4      ...  2.0  38.0  3526.0  0.670448  1.962417  0.0  0.0  0.0  1.0  57.0
5      ...  2.0  76.0  3337.0  0.608631  1.815606  0.0  0.0  0.0  1.0  39.0

[5 rows x 24 columns]

# Stopwords And Stemming

In [67]:
from nltk.corpus import stopwords
import string
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

In [93]:
def text_process_stem(rew):
    no_punc = [punc for punc in rew if punc not in string.punctuation] 
    no_punc = "".join(no_punc)
    return [stemmer.stem(word) for word in no_punc.split() if word.lower() not in stopwords.words('english')]

In [94]:
df['text'].head(5).apply(text_process_stem)

0    [wife, took, birthday, breakfast, excel, weath...
1    [idea, peopl, give, bad, review, place, goe, s...
2    [love, gyro, plate, rice, good, also, dig, can...
3    [rosi, dakota, love, chaparr, dog, park, conve...
4    [gener, manag, scott, petello, good, egg, go, ...
Name: text, dtype: object

In [95]:
#from nltk.stem import WordNetLemmatizer
#lemmatizer = WordNetLemmatizer()

In [96]:
#def text_process_lemm(rew):
 #   no_punc = [punc for punc in rew if punc not in string.punctuation] 
  #  no_punc = "".join(no_punc)
   # return [lemmatizer.lemmatize(word) for word in no_punc.split() if word.lower() not in stopwords.words('english')]

# Vectorization

In [97]:
from sklearn.feature_extraction.text import CountVectorizer

In [98]:
bow_transformer_stem = CountVectorizer(analyzer=text_process_stem).fit(df['text'])

In [99]:
#bow_transformer_lemm = CountVectorizer(analyzer=text_process_lemm).fit(df['text'])

In [100]:
print(len(bow_transformer_stem.vocabulary_))

27227

In [101]:
messages_bow_stem = bow_transformer_stem.transform(df['text'])

In [102]:
#messages_bow_lemm= bow_transformer_lemm.transform(df['text'])

# TF-IDF

In [103]:
from sklearn.feature_extraction.text import TfidfTransformer

In [104]:
tfidf_stem = TfidfTransformer().fit(messages_bow_stem)

In [105]:
#tfidf_lemm = TfidfTransformer().fit(messages_bow_lemm)

In [106]:
tfidf_stem_transform = tfidf_stem.transform(messages_bow_stem)

In [107]:
#tfidf_lemm_transform = tfidf_lemm.transform(messages_bow_lemm)

# Naive Bayes  Stemming

In [108]:
from sklearn.naive_bayes import MultinomialNB

In [124]:
review_stem = MultinomialNB().fit(messages_bow_stem,df['stars'])

In [125]:
from sklearn.model_selection import train_test_split

In [126]:
X_train,X_test,y_train,y_test = train_test_split(df['text'],df['stars'],test_size=.3)

In [127]:
from sklearn.pipeline import Pipeline

In [128]:
pipeline = Pipeline([('bow',CountVectorizer(analyzer=text_process_stem)),
                     #('tfidf',TfidfTransformer()),
                     ('classifier',MultinomialNB())])

In [129]:
pipeline.fit(X_train,y_train)

Pipeline(steps=[('bow',
                 CountVectorizer(analyzer=<function text_process_stem at 0x0000020162BC2CA0>)),
                ('classifier', MultinomialNB())])

In [130]:
stem_predictions = pipeline.predict(X_test)

In [131]:
from sklearn.metrics import classification_report

In [132]:
print(classification_report(y_test,stem_predictions))

              precision    recall  f1-score   support

           1       0.73      0.25      0.38       240
           2       0.33      0.07      0.12       285
           3       0.31      0.10      0.15       417
           4       0.44      0.72      0.54      1073
           5       0.59      0.57      0.58       985

    accuracy                           0.48      3000
   macro avg       0.48      0.34      0.35      3000
weighted avg       0.48      0.48      0.45      3000