In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train=pd.read_csv('train.csv')
train.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [3]:
test=pd.read_csv('test.csv')
test.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de..."
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de..."
3,3004,NaN,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.sonyclassics.com/incendies/,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",9/4/10,130.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de..."
4,3005,NaN,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",NaN,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/11/05,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de..."

In [4]:
print("train.shape ",train.shape)
print("test.shape ",test.shape)

train.shape  (3000, 23)
test.shape  (4398, 22)

In [5]:
train.isnull().sum()

id                          0
belongs_to_collection    2396
budget                      0
genres                      7
homepage                 2054
imdb_id                     0
original_language           0
original_title              0
overview                    8
popularity                  0
poster_path                 1
production_companies      156
production_countries       55
release_date                0
runtime                     2
spoken_languages           20
status                      0
tagline                   597
title                       0
Keywords                  276
cast                       13
crew                       16
revenue                     0
dtype: int64

# Droping Unwanted Columns

In [6]:
train.drop(['homepage','tagline','belongs_to_collection'],axis=1,inplace=True)

In [7]:
test.drop(['homepage','tagline','belongs_to_collection'],axis=1,inplace=True)

In [8]:
train.shape
test.shape

(4398, 19)

# Encoding Original Languages

In [9]:
train.original_language.unique()

array(['en', 'hi', 'ko', 'sr', 'fr', 'it', 'nl', 'zh', 'es', 'cs', 'ta',
       'cn', 'ru', 'tr', 'ja', 'fa', 'sv', 'de', 'te', 'pt', 'mr', 'da',
       'fi', 'el', 'ur', 'he', 'no', 'ar', 'nb', 'ro', 'vi', 'pl', 'hu',
       'ml', 'bn', 'id'], dtype=object)

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
enc = LabelEncoder()

In [12]:
train['original_language'] = enc.fit_transform(train['original_language'])

In [13]:
test['original_language'] = enc.fit_transform(test['original_language'])

# Creating new features based on release date

In [14]:
train['release_date'] = pd.to_datetime(train['release_date'])
test['release_date'] = pd.to_datetime(test['release_date'])

## Year

In [15]:
train['release_year'] = pd.DatetimeIndex(train['release_date']).year
test['release_year'] = pd.DatetimeIndex(test['release_date']).year

## Month

In [16]:
train['release_month'] = pd.DatetimeIndex(train['release_date']).month
test['release_month'] = pd.DatetimeIndex(test['release_date']).month

## Day

In [17]:
train['Day_of_Week'] = train['release_date'].dt.day_name()
test['Day_of_Week'] = test['release_date'].dt.day_name()

In [18]:
train

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,...,spoken_languages,status,title,Keywords,cast,crew,revenue,release_year,release_month,Day_of_Week
0,1,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,7,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,2015,2,Friday
1,2,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,7,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,2004,8,Friday
2,3,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,7,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,2014,10,Friday
3,4,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,13,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,NaN,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,2012,3,Friday
4,5,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,18,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,NaN,...,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,2009,2,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0109403,7,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,/j8Q7pQ27hvH54wpxJzIuQgQCdro.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,1994,4,Friday
2996,2997,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",tt2364975,29,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,/sS01LSy6KDrCZAhtkO18UdnWFT1.jpg,"[{'name': 'Memfis Film', 'id': 321}, {'name': ...",...,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,2013,3,Thursday
2997,2998,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",tt0116908,7,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,/4MENR8x6mYqnZvp2hGjSaPJz64J.jpg,"[{'name': 'New Line Cinema', 'id': 12}, {'name...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,1996,10,Friday
2998,2999,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0343135,7,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,/nIY4kvJTTnxoBR0wycrXng5MOYs.jpg,"[{'name': 'Jersey Films', 'id': 216}, {'name':...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,2004,1,Friday
2999,3000,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",tt1600195,7,Abduction,A young man sets out to uncover the truth abou...,10.512109,/cUT6NQP5LAJpmUoStGtXmvNt4zA.jpg,"[{'name': 'Lions Gate Films', 'id': 35}, {'nam...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,2011,9,Thursday

# Encoding  Day_of_week

In [19]:
train['Day_of_Week'] = enc.fit_transform(train['Day_of_Week'])
test['Day_of_Week'] = enc.fit_transform(test['Day_of_Week'])

In [20]:
def get_dict(s):
    try:
        d = eval(s)
    except:
        d = {}
    return d

In [21]:
 gn= pd.DataFrame(columns=['language'])

In [22]:
train = pd.concat([train, gn], axis=1)

In [23]:
train['num_of_langs'] = train['spoken_languages'].apply(lambda x: len(x) if x!= {} else 0)

TypeError: object of type 'float' has no len()

In [24]:
train['all_langs'] = train['spoken_languages'].apply(lambda x: ' '.join(sorted([i['name']for i in x]))
                                                    if x!= {} else '')

TypeError: string indices must be integers

In [25]:
j = 0
for i in train['spoken_languages']:
    d = get_dict(i)
    if d != {}:
        l=[]
        for k in range(len(d)):
            l.append(d[k]['iso_639_1'])
            
            train['language'][j] = l
    else:
         train['language'][j] = np.NaN
    j += 1

<ipython-input-25-bf185770c7cb>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['language'][j] = l
<ipython-input-25-bf185770c7cb>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['language'][j] = np.NaN

In [26]:
Cast=pd.DataFrame(train['language'])

In [27]:
Cast

      language
0         [en]
1         [en]
2         [en]
3     [en, hi]
4         [ko]
...        ...
2995      [en]
2996      [sv]
2997      [en]
2998      [en]
2999      [en]

[3000 rows x 1 columns]

In [28]:
Cast['lang'+l] = Cast['language'].apply(lambda x: 1 if l in x else 0)

TypeError: argument of type 'float' is not iterable

In [29]:
#d_cast=dict()
#act=[]
#for i in Cast['language']:
   # for j in range(len(i)):
    #    act.append(i[j])

In [30]:
train['no_of_actors']= train['cast'].str.len()

In [31]:
train.drop('no_of_actors',axis=1,inplace=True)

In [32]:
train['runtime'] = train['runtime'].fillna(train['runtime'].mean())
test['runtime'] = test['runtime'].fillna(test['runtime'].mean())

In [33]:
test= test[test['release_year'].notna()]

In [34]:
test

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,...,runtime,spoken_languages,status,title,Keywords,cast,crew,release_year,release_month,Day_of_Week
0,3001,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",tt1226251,19,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,/tnftmLMemPLduW6MRyZE0ZUD19z.jpg,NaN,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de...",2007.0,7.0,2
1,3002,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",tt0051380,9,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,/9MgBNBqlH1sG4yG2u4XkwI5CoJa.jpg,"[{'name': 'Woolner Brothers Pictures Inc.', 'i...",...,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de...",2058.0,5.0,3
2,3003,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0118556,9,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,/ed6nD7h9sbojSWY2qrnDcSvDFko.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",...,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de...",1997.0,5.0,0
3,3004,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",tt1255953,12,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,/sEUG3qjxwHjxkzuO7plrRHhOZUH.jpg,"[{'name': 'TS Productions', 'id': 313}, {'name...",...,130.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de...",2010.0,9.0,2
4,3005,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",tt0418753,9,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,/n4WC3zbelz6SG7rhkWbf8m9pMHB.jpg,NaN,...,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de...",2005.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4393,7394,42000000,"[{'id': 53, 'name': 'Thriller'}]",tt0218922,9,Original Sin,A young man is plunged into a life of subterfu...,9.970359,/i8FEQy5IWAqOzXm4uDHy2r3Swym.jpg,"[{'name': 'Intermedia Films', 'id': 763}, {'na...",...,118.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Original Sin,"[{'id': 515, 'name': 'women'}, {'id': 572, 'na...","[{'cast_id': 17, 'character': 'Julia Russell/B...","[{'credit_id': '52fe4330c3a36847f80412db', 'de...",2001.0,8.0,0
4394,7395,19000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",tt0364751,9,Without a Paddle,"Three friends, whose lives have been drifting ...",6.046516,/oZDbFtTnTwW5GSfyaGFGaYxDBgD.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",...,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Without a Paddle,"[{'id': 4959, 'name': 'death of a friend'}, {'...","[{'cast_id': 40, 'character': 'Dan Mott', 'cre...","[{'credit_id': '52fe43b29251416c7501a909', 'de...",2004.0,8.0,0
4395,7396,16000000,"[{'id': 18, 'name': 'Drama'}]",tt0084855,9,The Verdict,"Frank Galvin is a down-on-his luck lawyer, red...",9.596883,/hh9sIE1PT7Pjq3n2fzHNEHh8Ogq.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,...,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Verdict,"[{'id': 1680, 'name': 'boston'}, {'id': 6148, ...","[{'cast_id': 1, 'character': 'Frank Galvin', '...","[{'credit_id': '52fe448bc3a368484e028c55', 'de...",1982.0,12.0,6
4396,7397,2000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",tt3235888,9,It Follows,"For 19-year-old Jay, fall should be about scho...",20.359336,/4MrwJZr0R9LbyOgZqwLNmtzzxbu.jpg,"[{'name': 'Northern Lights Films', 'id': 8714}...",...,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It Follows,"[{'id': 3713, 'name': 'chase'}, {'id': 6152, '...","[{'cast_id': 1, 'character': 'Jay Height', 'cr...","[{'credit_id': '537770b20e0a261431002299', 'de...",2015.0,2.0,6
4397,7398,64000,"[{'id': 18, 'name': 'Drama'}]",tt0056663,12,Vivre sa vie: film en douze tableaux,Twelve episodic tales in the life of a Parisia...,11.305910,/baz1c9dzsf5uhNuUYhXy7eudNJd.jpg,"[{'name': 'Pathé Consortium Cinéma', 'id': 220...",...,85.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,Vivre Sa Vie,"[{'id': 90, 'name': 'paris'}, {'id': 490, 'nam...","[{'cast_id': 8, 'character': 'Nana Kleinfranke...","[{'credit_id': '52fe4306c3a36847f80349a5', 'de...",2062.0,9.0,6

# Linear Regression

In [35]:
y = train['revenue']

In [36]:
train.columns

Index(['id', 'budget', 'genres', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'runtime', 'spoken_languages', 'status', 'title', 'Keywords', 'cast',
       'crew', 'revenue', 'release_year', 'release_month', 'Day_of_Week',
       'language'],
      dtype='object')

In [37]:
X = train[['budget','original_language','popularity','runtime','release_year','Day_of_Week','release_month']]

In [38]:
from sklearn.preprocessing import minmax_scale

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
from sklearn.linear_model import LinearRegression

In [41]:
lr = LinearRegression()

In [42]:
lr.fit(X,y)

LinearRegression()

In [43]:
lr_pred = lr.predict(X)

In [44]:
Z = minmax_scale(lr_pred,feature_range=(0,1))

In [45]:
ll = X.copy(deep=True)

In [46]:
ll['pred'] = lr_pred

In [47]:
ll[ll['pred']<0]

,budget,original_language,popularity,runtime,release_year,Day_of_Week,release_month,pred
3,1200000,13,3.174936,122.0,2012,0,3,-4.168701e+06
7,0,7,1.949044,84.0,2004,4,1,-4.141643e+06
23,0,7,1.323333,92.0,2011,0,9,-1.930861e+07
25,0,7,1.252367,95.0,1992,0,10,-1.320717e+07
36,0,7,2.100499,105.0,2000,0,1,-1.066751e+07
...,...,...,...,...,...,...,...,...
2987,0,7,1.292125,90.0,1989,0,1,-1.193156e+07
2988,0,9,0.984515,94.0,2002,1,5,-1.301744e+07
2989,0,7,0.851599,75.0,2001,0,5,-1.986519e+07
2990,0,7,1.560980,90.0,1997,0,3,-1.396123e+07
2992,1135654,7,3.878515,149.0,2024,1,3,-4.353886e+05

In [48]:
pd.Series(Z).describe()

count    3000.000000
mean        0.091849
std         0.092135
min         0.000000
25%         0.039090
50%         0.060680
75%         0.108167
max         1.000000
dtype: float64

In [49]:
from sklearn.metrics import mean_squared_log_error, mean_absolute_error,mean_squared_error

In [50]:
print((mean_absolute_error(y, Z)))

66725851.796817854

In [51]:
print(np.sqrt(mean_squared_log_error(y,Z)))

16.16206531638029

In [52]:
y.describe()

count    3.000000e+03
mean     6.672585e+07
std      1.375323e+08
min      1.000000e+00
25%      2.379808e+06
50%      1.680707e+07
75%      6.891920e+07
max      1.519558e+09
Name: revenue, dtype: float64

In [53]:
train['revenue'].describe()

count    3.000000e+03
mean     6.672585e+07
std      1.375323e+08
min      1.000000e+00
25%      2.379808e+06
50%      1.680707e+07
75%      6.891920e+07
max      1.519558e+09
Name: revenue, dtype: float64

# Randomforest Regressor

In [54]:
from sklearn.ensemble import RandomForestRegressor

In [55]:
model = RandomForestRegressor(random_state=42,n_estimators=50)

In [56]:
model.fit(X,y)

RandomForestRegressor(n_estimators=50, random_state=42)

In [57]:
pred = model.predict(X)

In [58]:
print(np.sqrt(mean_squared_log_error(y,pred)))

2.087467862309666

In [59]:


print(mean_absolute_error(y, pred))

15818693.472066665

In [60]:
test_id=test["id"]
test_id.shape
test_X=test[['budget','original_language','popularity','runtime','release_year','Day_of_Week','release_month']]
predictions=model.predict(test_X)
test_X

,budget,original_language,popularity,runtime,release_year,Day_of_Week,release_month
0,0,19,3.851534,90.0,2007.0,2,7.0
1,88000,9,3.559789,65.0,2058.0,3,5.0
2,0,9,8.085194,100.0,1997.0,0,5.0
3,6800000,12,8.596012,130.0,2010.0,2,9.0
4,2000000,9,3.217680,92.0,2005.0,0,2.0
...,...,...,...,...,...,...,...
4393,42000000,9,9.970359,118.0,2001.0,0,8.0
4394,19000000,9,6.046516,95.0,2004.0,0,8.0
4395,16000000,9,9.596883,129.0,1982.0,6,12.0
4396,2000000,9,20.359336,100.0,2015.0,6,2.0
4397,64000,12,11.305910,85.0,2062.0,6,9.0

In [61]:
submission1 = pd.DataFrame({'id': test_id, 'revenue':predictions})
submission1 = submission1[['id', 'revenue']]
submission1.head()
submission1.to_csv("submission1.csv", index=False)

In [62]:
sub = pd.read_csv('submission1.csv')

In [63]:
sub

        id       revenue
0     3001  6.164286e+06
1     3002  5.205737e+06
2     3003  9.920664e+06
3     3004  1.568437e+07
4     3005  4.635915e+06
...    ...           ...
4392  7394  1.197306e+08
4393  7395  3.977335e+07
4394  7396  1.010264e+08
4395  7397  1.401536e+08
4396  7398  2.092742e+07

[4397 rows x 2 columns]

# Ridge Regression

In [64]:
from sklearn.linear_model import Ridge

In [65]:
rg = Ridge(random_state=42)

In [66]:
rg.fit(X,y)

Ridge(random_state=42)

In [67]:
rg_pred = rg.predict(X)

In [68]:
print((mean_absolute_error(y,rg_pred)))

44749484.84584365

# XGB Regressor

In [69]:
from sklearn.model_selection import GridSearchCV, cross_validate
from xgboost import XGBRegressor
from sklearn.model_selection import RepeatedKFold

In [70]:
xgb = XGBRegressor(objective='reg:linear',learning_rate=.1,max_depth=20,eval_metric='rmse')

In [71]:
xgb.fit(X,y)

[10:00:54] WARNING: d:\bld\xgboost-split_1619725139497\work\src\objective\regression_obj.cu:171: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, eval_metric='rmse',
             gamma=0, gpu_id=-1, importance_type='gain',
             interaction_constraints='', learning_rate=0.1, max_delta_step=0,
             max_depth=20, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=8,
             num_parallel_tree=1, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [72]:
x_pred = xgb.predict(X)

E:\conda\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

In [73]:
print((mean_squared_error(y,x_pred,squared=False)))

330834.4392000761

In [74]:
print((mean_absolute_error(y,x_pred)))

86142.13370555062

# LightGbm Regression

In [75]:
import lightgbm as lgb

In [76]:
lgb_model = lgb.LGBMRegressor(objective='regression',
                              learning_rate=.99, n_estimators=1000,max_depth=12,num_leaves=45,random_state=42)

In [77]:
lgb_model.fit(X,y)

LGBMRegressor(learning_rate=0.99, max_depth=12, n_estimators=1000,
              num_leaves=45, objective='regression', random_state=42)

In [78]:
#cv = RepeatedKFold(n_splits=5, n_repeats=3, random_state=42)

In [79]:
lgb_pred = lgb_model.predict(X)

In [80]:
print(np.sqrt(mean_squared_error(y, lgb_pred)))

51.63859145189892

# Tpot Regressor

### For 3 Generations

In [81]:
from tpot import TPOTRegressor

In [82]:
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=42)

In [92]:
tp = TPOTRegressor(generations=3, population_size=50, cv=cv, scoring='neg_mean_squared_log_error', verbosity=2 ,random_state=42, n_jobs=-1)

In [ ]:
cv

In [ ]:
tp.fit(X,y)

In [ ]:
tp.export('tpot_movie.py')

In [83]:
xgb_tune = XGBRegressor(learning_rate=0.01, max_depth=8, min_child_weight=5, n_estimators=100, n_jobs=1, objective='reg:squarederror', subsample=0.4, verbosity=0)

In [84]:
if hasattr(xgb_tune, 'random_state'):
    setattr(xgb_tune, 'random_state', 42)

In [85]:
xgb_tune.fit(X,y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.01, max_delta_step=0, max_depth=8,
             min_child_weight=5, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=1, num_parallel_tree=1, random_state=42,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=0.4,
             tree_method='exact', validate_parameters=1, verbosity=0)

In [86]:
result = xgb_tune.predict(X)

E:\conda\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

In [87]:
print(np.sqrt(mean_squared_log_error(y,result)))

2.4075017957220886

### For 5 Generations

In [ ]:
tp1 = TPOTRegressor(generations=5, population_size=50, cv=cv, scoring='neg_mean_squared_log_error', verbosity=2 ,random_state=42, n_jobs=-1)

In [ ]:
tp1.fit(X,y)

In [ ]:
tp1.export('tpot_movie1.py')

In [88]:
from sklearn.pipeline import make_pipeline, make_union
from tpot.builtins import StackingEstimator

In [89]:
exported_pipeline = make_pipeline(
    StackingEstimator(estimator=RandomForestRegressor(bootstrap=False, max_features=0.3, min_samples_leaf=20, min_samples_split=20, n_estimators=100)),
    StackingEstimator(estimator=RandomForestRegressor(bootstrap=False, max_features=0.25, min_samples_leaf=14, min_samples_split=7, n_estimators=100)),
    RandomForestRegressor(bootstrap=False, max_features=0.6500000000000001, min_samples_leaf=9, min_samples_split=18, n_estimators=100)
)

In [90]:
from tpot.export_utils import set_param_recursive
set_param_recursive(exported_pipeline.steps, 'random_state', 42)

In [91]:
exported_pipeline.fit(X,y)

Pipeline(steps=[('stackingestimator-1',
                 StackingEstimator(estimator=RandomForestRegressor(bootstrap=False,
                                                                   max_features=0.3,
                                                                   min_samples_leaf=20,
                                                                   min_samples_split=20,
                                                                   random_state=42))),
                ('stackingestimator-2',
                 StackingEstimator(estimator=RandomForestRegressor(bootstrap=False,
                                                                   max_features=0.25,
                                                                   min_samples_leaf=14,
                                                                   min_samples_split=7,
                                                                   random_state=42))),
                ('randomforestregressor',
                 RandomForestRegressor(bootstrap=False,
                                       max_features=0.6500000000000001,
                                       min_samples_leaf=9, min_samples_split=18,
                                       random_state=42))])

In [92]:
results_1 = exported_pipeline.predict(X)

In [93]:
print(np.sqrt(mean_squared_log_error(y,results_1)))

2.0266818994844495

### For 10 Generations

In [ ]:
tp2 = TPOTRegressor(generations=10, population_size=50, cv=cv, scoring='neg_mean_squared_log_error', verbosity=2 ,random_state=42, n_jobs=-1)

In [ ]:
tp2.fit(X,y)

In [ ]:
tp2.export('tpot_movie2.py')

In [94]:
from sklearn.ensemble import ExtraTreesRegressor, GradientBoostingRegressor
from sklearn.linear_model import ElasticNetCV

In [95]:
exported_pipeline_1 = make_pipeline(
    StackingEstimator(estimator=ExtraTreesRegressor(bootstrap=True, max_features=1.0, min_samples_leaf=4, min_samples_split=16, n_estimators=100)),
    StackingEstimator(estimator=GradientBoostingRegressor(alpha=0.75, learning_rate=0.1, loss="quantile", max_depth=3, max_features=0.1, min_samples_leaf=5, min_samples_split=12, n_estimators=100, subsample=1.0)),
    StackingEstimator(estimator=ElasticNetCV(l1_ratio=1.0, tol=1e-05)),
    XGBRegressor(learning_rate=0.01, max_depth=8, min_child_weight=5, n_estimators=100, n_jobs=1, objective="reg:squarederror", subsample=0.4, verbosity=0))

In [96]:
set_param_recursive(exported_pipeline_1.steps, 'random_state', 42)

In [97]:
exported_pipeline_1.fit(X,y)
results_2 = exported_pipeline_1.predict(X)

E:\conda\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

In [98]:
print(np.sqrt(mean_squared_log_error(y,results_2)))

2.1204531929549684

# For 8 generations

In [134]:
tp3 = TPOTRegressor(generations=8, population_size=50, cv=cv, scoring='neg_mean_squared_log_error', verbosity=2 ,random_state=42, n_jobs=-1)

In [135]:
tp3.fit(X,y)

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', max=450.0, style=ProgressStyle(de…

Generation 1 - Current best internal CV score: -6.132301227824837

Generation 2 - Current best internal CV score: -6.044429200464452

Generation 3 - Current best internal CV score: -6.0259048685209375

Generation 4 - Current best internal CV score: -5.91120892017186

Generation 5 - Current best internal CV score: -5.91120892017186

Generation 6 - Current best internal CV score: -5.91120892017186

Generation 7 - Current best internal CV score: -5.45464731872582

Generation 8 - Current best internal CV score: -5.453911702498494

Best pipeline: XGBRegressor(RandomForestRegressor(input_matrix, bootstrap=False, max_features=0.8, min_samples_leaf=5, min_samples_split=9, n_estimators=100), learning_rate=0.01, max_depth=8, min_child_weight=5, n_estimators=100, n_jobs=1, objective=reg:squarederror, subsample=0.7000000000000001, verbosity=0)

TPOTRegressor(cv=RepeatedKFold(n_repeats=3, n_splits=10, random_state=42),
              generations=8, n_jobs=-1, population_size=50, random_state=42,
              scoring='neg_mean_squared_log_error', verbosity=2)

In [136]:
tp3.export('tpot_movie3.py')

In [99]:
tp3_ = make_pipeline(
    StackingEstimator(estimator=RandomForestRegressor(bootstrap=False, max_features=0.8, min_samples_leaf=5, min_samples_split=9, n_estimators=100)),
    XGBRegressor(learning_rate=0.01, max_depth=8, min_child_weight=5, n_estimators=100, n_jobs=1, objective="reg:squarederror", subsample=0.7000000000000001, verbosity=0))

In [100]:
set_param_recursive(tp3_.steps, 'random_state', 42)

In [101]:
tp3_.fit(X,y)
tp3_result= tp3_.predict(X)

E:\conda\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

In [102]:
print(np.sqrt(mean_squared_log_error(y,tp3_result)))

1.8436741835439865

# 12 generations

In [138]:
tp_12 = TPOTRegressor(generations=12, population_size=50, cv=cv, scoring='neg_mean_squared_log_error', verbosity=2 ,random_state=42, n_jobs=-1)

In [139]:
tp_12.fit(X,y)

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', max=650.0, style=ProgressStyle(de…

Generation 1 - Current best internal CV score: -6.132301227824837

Generation 2 - Current best internal CV score: -6.044429200464452

Generation 3 - Current best internal CV score: -6.0259048685209375

Generation 4 - Current best internal CV score: -5.91120892017186

Generation 5 - Current best internal CV score: -5.91120892017186

Generation 6 - Current best internal CV score: -5.91120892017186

Generation 7 - Current best internal CV score: -5.45464731872582

Generation 8 - Current best internal CV score: -5.453911702498494

Generation 9 - Current best internal CV score: -5.453911702498494

Generation 10 - Current best internal CV score: -5.444283708170085

Generation 11 - Current best internal CV score: -5.444283708170085

Generation 12 - Current best internal CV score: -5.387815045587571

Best pipeline: XGBRegressor(RandomForestRegressor(input_matrix, bootstrap=False, max_features=0.8, min_samples_leaf=5, min_samples_split=9, n_estimators=100), learning_rate=0.01, max_depth=8, min_child_weight=5, n_estimators=100, n_jobs=1, objective=reg:squarederror, subsample=0.05, verbosity=0)

TPOTRegressor(cv=RepeatedKFold(n_repeats=3, n_splits=10, random_state=42),
              generations=12, n_jobs=-1, population_size=50, random_state=42,
              scoring='neg_mean_squared_log_error', verbosity=2)

In [140]:
tp_12.export('tpot_movie_12.py')

In [141]:
exported_pipeline_12= make_pipeline(
    StackingEstimator(estimator=RandomForestRegressor(bootstrap=False, max_features=0.8, min_samples_leaf=5, min_samples_split=9, n_estimators=100)),
    XGBRegressor(learning_rate=0.01, max_depth=8, min_child_weight=5, n_estimators=100, n_jobs=1, objective="reg:squarederror", subsample=0.05, verbosity=0)
)

In [142]:
set_param_recursive(exported_pipeline_12.steps, 'random_state', 42)

In [143]:
exported_pipeline_12.fit(X,y)

Pipeline(steps=[('stackingestimator',
                 StackingEstimator(estimator=RandomForestRegressor(bootstrap=False,
                                                                   max_features=0.8,
                                                                   min_samples_leaf=5,
                                                                   min_samples_split=9,
                                                                   random_state=42))),
                ('xgbregressor',
                 XGBRegressor(base_score=0.5, booster='gbtree',
                              colsample_bylevel=1, colsample_bynode=1,
                              colsample_bytree=1, gamma=0, gpu_id=-1,
                              importance_type='gain',
                              interaction_constraints='', learning_rate=0.01,
                              max_delta_step=0, max_depth=8, min_child_weight=5,
                              missing=nan, monotone_constraints='()',
                              n_estimators=100, n_jobs=1, num_parallel_tree=1,
                              random_state=42, reg_alpha=0, reg_lambda=1,
                              scale_pos_weight=1, subsample=0.05,
                              tree_method='exact', validate_parameters=1,
                              verbosity=0))])

In [145]:
tp12_results = exported_pipeline_12.predict(X)

E:\conda\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

In [146]:
print(np.sqrt(mean_squared_log_error(y,tp12_results)))

1.931797091107107

# 15 Generation

In [147]:
tp_15 = TPOTRegressor(generations=15, population_size=50, cv=cv, scoring='neg_mean_squared_log_error', verbosity=2 ,random_state=42, n_jobs=-1)

In [148]:
tp_15.fit(X,y)

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', max=800.0, style=ProgressStyle(de…

Generation 1 - Current best internal CV score: -6.132301227824837

Generation 2 - Current best internal CV score: -6.044429200464452

Generation 3 - Current best internal CV score: -6.0259048685209375

Generation 4 - Current best internal CV score: -5.91120892017186

Generation 5 - Current best internal CV score: -5.91120892017186

Generation 6 - Current best internal CV score: -5.91120892017186

Generation 7 - Current best internal CV score: -5.45464731872582

Generation 8 - Current best internal CV score: -5.453911702498494

Generation 9 - Current best internal CV score: -5.453911702498494

Generation 10 - Current best internal CV score: -5.444283708170085

Generation 11 - Current best internal CV score: -5.444283708170085

Generation 12 - Current best internal CV score: -5.387815045587571

Generation 13 - Current best internal CV score: -5.387815045587571

Generation 14 - Current best internal CV score: -5.387815045587571

Generation 15 - Current best internal CV score: -5.387815045587571

Best pipeline: XGBRegressor(RandomForestRegressor(input_matrix, bootstrap=False, max_features=0.8, min_samples_leaf=5, min_samples_split=9, n_estimators=100), learning_rate=0.01, max_depth=8, min_child_weight=5, n_estimators=100, n_jobs=1, objective=reg:squarederror, subsample=0.05, verbosity=0)

TPOTRegressor(cv=RepeatedKFold(n_repeats=3, n_splits=10, random_state=42),
              generations=15, n_jobs=-1, population_size=50, random_state=42,
              scoring='neg_mean_squared_log_error', verbosity=2)

In [149]:
tp_15.export('tpot_movie_15.py')

In [150]:
exported_pipeline_15= make_pipeline(
    StackingEstimator(estimator=RandomForestRegressor(bootstrap=False, max_features=0.8, min_samples_leaf=5, min_samples_split=9, n_estimators=100)),
    XGBRegressor(learning_rate=0.01, max_depth=8, min_child_weight=5, n_estimators=100, n_jobs=1, objective="reg:squarederror", subsample=0.05, verbosity=0)
)
# Fix random state for all t

In [151]:
set_param_recursive(exported_pipeline_15.steps, 'random_state', 42)

In [152]:
exported_pipeline_15.fit(X,y)

Pipeline(steps=[('stackingestimator',
                 StackingEstimator(estimator=RandomForestRegressor(bootstrap=False,
                                                                   max_features=0.8,
                                                                   min_samples_leaf=5,
                                                                   min_samples_split=9,
                                                                   random_state=42))),
                ('xgbregressor',
                 XGBRegressor(base_score=0.5, booster='gbtree',
                              colsample_bylevel=1, colsample_bynode=1,
                              colsample_bytree=1, gamma=0, gpu_id=-1,
                              importance_type='gain',
                              interaction_constraints='', learning_rate=0.01,
                              max_delta_step=0, max_depth=8, min_child_weight=5,
                              missing=nan, monotone_constraints='()',
                              n_estimators=100, n_jobs=1, num_parallel_tree=1,
                              random_state=42, reg_alpha=0, reg_lambda=1,
                              scale_pos_weight=1, subsample=0.05,
                              tree_method='exact', validate_parameters=1,
                              verbosity=0))])

In [154]:

tp15_results = exported_pipeline_15.predict(X)

E:\conda\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

In [155]:
print(np.sqrt(mean_squared_log_error(y,tp15_results)))

1.931797091107107

### 20 Generations

In [156]:
tp_20 = TPOTRegressor(generations=20, population_size=50, cv=cv, scoring='neg_mean_squared_log_error', verbosity=2 ,random_state=42, n_jobs=-1)

In [157]:
tp_20.fit(X,y)

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', max=1050.0, style=ProgressStyle(d…

Generation 1 - Current best internal CV score: -6.132301227824837

Generation 2 - Current best internal CV score: -6.044429200464452

Generation 3 - Current best internal CV score: -6.0259048685209375

Generation 4 - Current best internal CV score: -5.91120892017186

Generation 5 - Current best internal CV score: -5.91120892017186

Generation 6 - Current best internal CV score: -5.91120892017186

Generation 7 - Current best internal CV score: -5.45464731872582

Generation 8 - Current best internal CV score: -5.453911702498494

Generation 9 - Current best internal CV score: -5.453911702498494

Generation 10 - Current best internal CV score: -5.444283708170085

Generation 11 - Current best internal CV score: -5.444283708170085

Generation 12 - Current best internal CV score: -5.387815045587571

Generation 13 - Current best internal CV score: -5.387815045587571

Generation 14 - Current best internal CV score: -5.387815045587571

Generation 15 - Current best internal CV score: -5.387815045587571

Generation 16 - Current best internal CV score: -5.344866321785346

Generation 17 - Current best internal CV score: -5.30592755605629

Generation 18 - Current best internal CV score: -5.30592755605629

Generation 19 - Current best internal CV score: -5.30592755605629

Generation 20 - Current best internal CV score: -5.232322290975473

Best pipeline: XGBRegressor(SelectPercentile(RandomForestRegressor(input_matrix, bootstrap=False, max_features=0.6500000000000001, min_samples_leaf=5, min_samples_split=12, n_estimators=100), percentile=12), learning_rate=0.01, max_depth=8, min_child_weight=5, n_estimators=100, n_jobs=1, objective=reg:squarederror, subsample=0.05, verbosity=0)

TPOTRegressor(cv=RepeatedKFold(n_repeats=3, n_splits=10, random_state=42),
              generations=20, n_jobs=-1, population_size=50, random_state=42,
              scoring='neg_mean_squared_log_error', verbosity=2)

In [158]:
tp_20.export('tpot_movie_20.py')

In [160]:
from sklearn.feature_selection import SelectPercentile, f_regression

In [161]:
exported_pipeline_20 = make_pipeline(
    StackingEstimator(estimator=RandomForestRegressor(bootstrap=False, max_features=0.6500000000000001, min_samples_leaf=5, min_samples_split=12, n_estimators=100)),
    SelectPercentile(score_func=f_regression, percentile=12),
    XGBRegressor(learning_rate=0.01, max_depth=8, min_child_weight=5, n_estimators=100, n_jobs=1, objective="reg:squarederror", subsample=0.05, verbosity=0)
)

In [162]:
set_param_recursive(exported_pipeline_20.steps, 'random_state', 42)

In [163]:
exported_pipeline_20.fit(X,y)

Pipeline(steps=[('stackingestimator',
                 StackingEstimator(estimator=RandomForestRegressor(bootstrap=False,
                                                                   max_features=0.6500000000000001,
                                                                   min_samples_leaf=5,
                                                                   min_samples_split=12,
                                                                   random_state=42))),
                ('selectpercentile',
                 SelectPercentile(percentile=12,
                                  score_func=<function f_regression at 0x0000020A6009AD30>)),
                ('xgbregressor',
                 XGBRegressor(base_score=0.5, boost...
                              colsample_bytree=1, gamma=0, gpu_id=-1,
                              importance_type='gain',
                              interaction_constraints='', learning_rate=0.01,
                              max_delta_step=0, max_depth=8, min_child_weight=5,
                              missing=nan, monotone_constraints='()',
                              n_estimators=100, n_jobs=1, num_parallel_tree=1,
                              random_state=42, reg_alpha=0, reg_lambda=1,
                              scale_pos_weight=1, subsample=0.05,
                              tree_method='exact', validate_parameters=1,
                              verbosity=0))])

In [164]:

tp20_results = exported_pipeline_20.predict(X)

In [165]:
print(np.sqrt(mean_squared_log_error(y,tp20_results)))

1.9449428668952302

# Lasso Regression

In [103]:
from sklearn.linear_model import Lasso

In [104]:
ls = Lasso(random_state=42)

In [105]:
ls.fit(X,y)

Lasso(random_state=42)

In [106]:
ls_pred = ls.predict(X)

In [107]:
print(mean_absolute_error(y,ls_pred))

44749556.1205552

In [108]:
print(mean_squared_error(y,ls_pred))

7226991839808786.0

# Catboost Regressor

In [109]:
from catboost import CatBoostRegressor

In [110]:
cat = CatBoostRegressor(iterations=100,
                          learning_rate=1,
                          depth=15,
                       loss_function='RMSE')

In [111]:
cat.fit(X,y)

0:	learn: 88429449.1895724	total: 613ms	remaining: 1m
1:	learn: 70109793.7207163	total: 1.06s	remaining: 51.8s
2:	learn: 60459228.6090252	total: 1.5s	remaining: 48.5s
3:	learn: 54984653.8380150	total: 1.94s	remaining: 46.5s
4:	learn: 47899963.2432816	total: 2.37s	remaining: 45s
5:	learn: 43529748.1696466	total: 2.79s	remaining: 43.8s
6:	learn: 39486443.5857897	total: 3.23s	remaining: 42.9s
7:	learn: 37729214.4764638	total: 3.7s	remaining: 42.6s
8:	learn: 34082882.1872759	total: 4.16s	remaining: 42.1s
9:	learn: 29731584.1214622	total: 4.62s	remaining: 41.6s
10:	learn: 27648625.0462114	total: 5.06s	remaining: 40.9s
11:	learn: 25442819.1174407	total: 5.5s	remaining: 40.3s
12:	learn: 23762623.3236386	total: 5.9s	remaining: 39.5s
13:	learn: 21950418.5811079	total: 6.34s	remaining: 38.9s
14:	learn: 19971032.2232914	total: 6.76s	remaining: 38.3s
15:	learn: 19092620.7315360	total: 7.19s	remaining: 37.8s
16:	learn: 17475735.6192466	total: 7.63s	remaining: 37.3s
17:	learn: 16131411.1866333	total: 8.06s	remaining: 36.7s
18:	learn: 15248703.1671533	total: 8.5s	remaining: 36.2s
19:	learn: 14329435.2953361	total: 8.91s	remaining: 35.6s
20:	learn: 13305193.9263999	total: 9.34s	remaining: 35.1s
21:	learn: 12723800.5493234	total: 9.76s	remaining: 34.6s
22:	learn: 12146046.6072303	total: 10.2s	remaining: 34.1s
23:	learn: 12004867.1352995	total: 10.3s	remaining: 32.6s
24:	learn: 11516197.5450733	total: 10.7s	remaining: 32.2s
25:	learn: 11344338.6854538	total: 11.2s	remaining: 31.8s
26:	learn: 10304702.4268341	total: 11.6s	remaining: 31.4s
27:	learn: 10192109.9996253	total: 12s	remaining: 31s
28:	learn: 9559062.2943356	total: 12.5s	remaining: 30.6s
29:	learn: 9193020.2644191	total: 12.9s	remaining: 30.1s
30:	learn: 8567677.2913345	total: 13.3s	remaining: 29.7s
31:	learn: 8441168.7071475	total: 13.7s	remaining: 29.2s
32:	learn: 8144873.3017331	total: 14.2s	remaining: 28.8s
33:	learn: 7784150.4722440	total: 14.6s	remaining: 28.4s
34:	learn: 7558160.0762390	total: 15s	remaining: 27.9s
35:	learn: 7316387.4198019	total: 15.5s	remaining: 27.5s
36:	learn: 7078877.1568009	total: 15.9s	remaining: 27.1s
37:	learn: 6713076.8942628	total: 16.3s	remaining: 26.6s
38:	learn: 6144368.7700442	total: 16.7s	remaining: 26.2s
39:	learn: 5740793.2060379	total: 17.2s	remaining: 25.8s
40:	learn: 5649453.6291511	total: 17.6s	remaining: 25.3s
41:	learn: 5404080.3785765	total: 18s	remaining: 24.9s
42:	learn: 5210236.1766457	total: 18.5s	remaining: 24.5s
43:	learn: 4950588.4414688	total: 18.9s	remaining: 24s
44:	learn: 4768580.2005352	total: 19.4s	remaining: 23.7s
45:	learn: 4466052.7663122	total: 19.8s	remaining: 23.3s
46:	learn: 4233979.2524846	total: 20.3s	remaining: 22.9s
47:	learn: 4149853.4539077	total: 20.7s	remaining: 22.4s
48:	learn: 4017492.8423159	total: 21.1s	remaining: 22s
49:	learn: 3866327.1347213	total: 21.6s	remaining: 21.6s
50:	learn: 3594678.9060636	total: 22s	remaining: 21.1s
51:	learn: 3505513.6336429	total: 22.4s	remaining: 20.7s
52:	learn: 3385760.9596670	total: 22.9s	remaining: 20.3s
53:	learn: 3211738.5831598	total: 23.3s	remaining: 19.8s
54:	learn: 3050612.5832368	total: 23.7s	remaining: 19.4s
55:	learn: 2925166.5875144	total: 24.1s	remaining: 19s
56:	learn: 2825762.0985315	total: 24.6s	remaining: 18.5s
57:	learn: 2666114.8496818	total: 25s	remaining: 18.1s
58:	learn: 2506830.1387463	total: 25.4s	remaining: 17.7s
59:	learn: 2378657.1017677	total: 25.9s	remaining: 17.2s
60:	learn: 2230600.6025600	total: 26.3s	remaining: 16.8s
61:	learn: 2130516.5905102	total: 26.7s	remaining: 16.4s
62:	learn: 2005087.8073104	total: 27.2s	remaining: 16s
63:	learn: 1915266.3727238	total: 27.6s	remaining: 15.5s
64:	learn: 1832557.4877959	total: 28s	remaining: 15.1s
65:	learn: 1736239.8990545	total: 28.5s	remaining: 14.7s
66:	learn: 1697724.4800586	total: 28.6s	remaining: 14.1s
67:	learn: 1636543.9332125	total: 28.7s	remaining: 13.5s
68:	learn: 1569573.3509164	total: 29.1s	remaining: 13.1s
69:	learn: 1498215.4254325	total: 29.5s	remaining: 12.7s
70:	learn: 1469038.1387889	total: 30s	remaining: 12.2s
71:	learn: 1394234.7510207	total: 30.4s	remaining: 11.8s
72:	learn: 1333176.2807789	total: 30.8s	remaining: 11.4s
73:	learn: 1264545.6169285	total: 31.3s	remaining: 11s
74:	learn: 1198752.3452402	total: 31.7s	remaining: 10.6s
75:	learn: 1153983.0407202	total: 32.1s	remaining: 10.1s
76:	learn: 1098553.7262162	total: 32.5s	remaining: 9.72s
77:	learn: 1046512.9656289	total: 33s	remaining: 9.3s
78:	learn: 1025133.8547907	total: 33.4s	remaining: 8.89s
79:	learn: 979686.9078778	total: 33.9s	remaining: 8.47s
80:	learn: 949583.8189331	total: 34.4s	remaining: 8.06s
81:	learn: 920535.6090739	total: 34.9s	remaining: 7.65s
82:	learn: 877468.3996181	total: 35.4s	remaining: 7.25s
83:	learn: 844989.6912294	total: 35.9s	remaining: 6.83s
84:	learn: 802368.2840636	total: 36.3s	remaining: 6.41s
85:	learn: 767632.9940259	total: 36.8s	remaining: 5.99s
86:	learn: 718588.7947404	total: 37.3s	remaining: 5.57s
87:	learn: 700964.8981156	total: 37.8s	remaining: 5.15s
88:	learn: 688140.1326466	total: 38.2s	remaining: 4.72s
89:	learn: 665631.6335972	total: 38.7s	remaining: 4.3s
90:	learn: 657384.4512362	total: 39.1s	remaining: 3.87s
91:	learn: 626207.2792549	total: 39.6s	remaining: 3.44s
92:	learn: 601349.4058150	total: 40.1s	remaining: 3.02s
93:	learn: 577958.6356919	total: 40.6s	remaining: 2.59s
94:	learn: 556995.7509145	total: 41.2s	remaining: 2.17s
95:	learn: 545991.7639747	total: 41.7s	remaining: 1.74s
96:	learn: 526394.3158863	total: 42.1s	remaining: 1.3s
97:	learn: 513823.3218717	total: 42.6s	remaining: 870ms
98:	learn: 500312.0567688	total: 43.1s	remaining: 436ms
99:	learn: 487700.9625470	total: 43.7s	remaining: 0us

In [112]:
cat_pred = cat.predict(X)

In [113]:
print(np.sqrt(mean_squared_error(y,cat_pred)))

487701.0373790709

In [114]:
from sklearn.metrics import r2_score
r2 = r2_score(y, cat_pred)

In [115]:
r2

0.9999874211027519

# Gradient Boosting Regression

In [116]:
from sklearn.ensemble import GradientBoostingRegressor

In [117]:
gd = GradientBoostingRegressor(random_state=42,learning_rate=1,max_depth=11)

In [118]:
gd.fit(X,y)

GradientBoostingRegressor(learning_rate=1, max_depth=11, random_state=42)

In [119]:
gd_pred = gd.predict(X)

In [120]:
print(np.sqrt(mean_squared_error(y,gd_pred)))

4.3204492944166045e-05

In [121]:
#gd_=GradientBoostingRegressor(random_state=42,verbose=1)

In [122]:
# grid = dict()
# grid['loss'] = ['ls', 'lad', 'huber', 'quantile']
# grid['tol']=[.001,.00001,.002,.0001,.0002]
# grid['max_features']=['auto','sqrt']
# grid['max_depth']=[2,20,1]
# grid['learning_rate']=np.arange(0,1.1,.1)
# grid['min_samples_leaf']=np.arange(1,10,1)

In [123]:
# cv = RepeatedKFold(n_splits=5, n_repeats=2, random_state=42)

In [124]:
# gd_model = GridSearchCV(gd_,param_grid=grid ,cv=3, scoring='neg_mean_squared_error',n_jobs=-1,verbose=1)

In [125]:
# gd_model.fit(X,y)

# SVR

In [126]:
from sklearn.svm import SVR

In [127]:
svr = SVR()

In [128]:
svr.fit(X,y)

SVR()

In [129]:
svr_predict = svr.predict(X)

In [130]:
print(np.sqrt(mean_squared_log_error(y,svr_predict)))

3.134407948070172

In [131]:
# grid_= dict()
# grid_['kernel'] = ['linear', 'poly', 'rbf', 'sigmoid','precomputed']
# grid_['tol']=[.001,.00001,.002,.0001,.0002]
# grid_['C']=np.arange(.1,10,.1)
# grid_['gamma']=['scale','auto']
# grid_['degree']=np.arange(1,10,1)
# grid_['epsilon']=[0.01,.1,1,.5,2,4,5]

# ElasticNet

In [132]:
from sklearn.model_selection import RandomizedSearchCV

In [133]:
from sklearn.linear_model import ElasticNet

In [134]:
en = ElasticNet(random_state=42,alpha=.1,l1_ratio=.5)

In [135]:
en.fit(X,y)

ElasticNet(alpha=0.1, random_state=42)

In [136]:
en_pred = en.predict(X)

In [137]:
print(np.sqrt(mean_squared_error(y,en_pred)))

85011740.36514033